<div class="wrapper">
  <header> <a href="admin"><img src="images/ramLogo.jpg" width="197" height="150" alt="ramalytics logo"></a>
    <h1><span class="ram">RAM</span><span class="alytics">ALYTICS</span></h1>
    <h2 class="by">RadioActive Media</h2>
  </header>
  <div class="content">
    <div class="headTitle">
      <h2>Error</h2>
    </div>
    <div class="formHolder">
    </div>
  </div>
</div>
