
<style type="text/css">
  div {
    -webkit-animation-duration: 5s;
    -webkit-animation-name: slide;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    width: 200px;
    height: 200px;
    margin: 100px;
    background-color: hotpink;
  }
  @-webkit-keyframes slide {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
    }
  }
</style>

<h1>Layers</h1>
<div>
  I am a strange root.
</div>
